<div class="text-center text-light">
    <div class="container p-4">
        <div class="row">
            <div class="col-12 col-md-10">
                © Desarrollado por <strong>X-Force</strong> | <em>Todos los derechos reservados</em> 
            </div>
            <div class="col-12 col-md-2">
                <a target="_blank" href="https://github.com/yuuto014/Proyecto-Inmobiliaria-MinTIC">
                    <i class="fa-brands fa-git fa-2x me-2 text-light"></i>
                </a>
    
                <a  target="_blank" href="https://gmail.com/">
                    <i class="fa-solid fa-envelope fa-2x text-light"></i>
                </a>
            </div>
        </div>
    </div>
</div>