<div class="container">
    <div>
        <a class="float-end btn" routerLink="/" style="color: #BF7692;">Volver</a>
        <h1 class="display-3">
            <p class="text-center" style="color: #BF7692;"><br>
                Encuéntranos en GitHub

                <a target="_blank" href="https://github.com/yuuto014/Proyecto-Inmobiliaria-MinTIC" style="color: #BF7692;">
                    <i class="fa-brands fa-github fa-5x"></i>
                </a>
            </p>
        </h1>
    </div>
</div>

