<div class="container">
    <div class="row">
        <div class="col-12">
            <h6 class="display-6">
                <p class="text-center" style="color: #BF7692;">
                    Datos Generales
                </p>
            </h6>

            <form>

                <div class="container">
                    <div class="row mt-2">
                        <div class="col-12 col-md-6 mb-2">
                            <input type="text" class="form-control" id="inputCon"
                                placeholder="Conjunto">
                        </div>
    
                        <div class="col-12 col-md-6">
                            <input type="text" class="form-control" id="inputNit"
                                placeholder="Nit">
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12 col-md-6 mb-2">
                            <input type="text" class="form-control" id="inputBanco"
                                placeholder="Cuenta Bancaria">
                        </div>
    
                        <div class="col-12 col-md-6">
                            <input type="text" class="form-control" id="inputAdmin"
                                placeholder="Administrador">
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12 col-md-6 mb-2">
                            <input type="text" class="form-control" id="inputMora"
                                placeholder="Interés por Mora">
                        </div>
    
                        <div class="col-12 col-md-6">
                            <input type="text" class="form-control" id="inputFact"
                                placeholder="# inicio factura">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <input type="text" class="form-control" id="inputPres"
                                placeholder="Presupuesto Actual">
                        </div>
                    </div>
                </div>


                <div class="row mt-2">
                    <div class="col-12 col-md-6">
                        <p class="text-center">
                            <button type="submit" class="btn btn-primary w-45"
                                style="padding: 5px 35px; background-color: #BF7692; border-color:#BF7692">
                                Descartar
                            </button>
                        </p>
                    </div>
                    <div class="col-12 col-md-6">
                        <p class="text-center">
                            <button type="submit" class="btn btn-primary w-45"
                                style="padding: 5px 35px; margin-left: 20px;
                                background-color: #BF7692; border-color:#BF7692">
                                Guardar
                            </button>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
